.idea
build.properties
node_modules
/build
/dist
/src/client/bootstrap.*
/src/client/build
/src/client/doc
/src/client/resources/bower_components
/src/server/main.js
/src/exist-app
/tmp
/*.bat
/node_modules
