

$button-small-font-size: 11px !default;
$button-small-font-weight: bold !default;

$button-small-padding: $al-small-padding !default;


$button-default-base-color: $base-highlight-color !default;

$button-toolbar-border-color: $base-dark-color !default;

$button-toolbar-background-color: $base-highlight-color !default;
$button-toolbar-background-color-over: mix(#000, $button-default-base-color, 8%) !default;
$button-toolbar-background-color-pressed: mix(#000, $button-default-base-color, 25%) !default;

$button-toolbar-color: #fff !default;
 
// $button-toolbar-background-color-focus: transparent !default;

