
/* The following specifications concern the tooltip content received from the server. */

.ttheader b {
  font-weight: normal
}

.ttheader {
  display: block;
  text-align: center;
  font-size: 13px;
}

.ttsubheader {
  display: block;
  text-align: center;
  font-style: italic;
}

.ttbody {
}
